@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

html,
body {
  @apply bg-secondary-dark text-primary-light font-sans;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

header {
  @apply bg-secondary-dark text-primary-light p-4 shadow-md sticky top-0 z-50;
}

footer {
  @apply bg-secondary-dark text-primary-light p-4 mt-8;
}

.container {
  @apply mx-auto;
}

.prose {
  @apply prose-invert;
}

nav ul li {
  position: relative; /* Ensure the submenu is positioned relative to the parent */
}

nav ul li ul {
  @apply absolute left-0 top-full mt-0 hidden group-hover:block; /* Remove gap and ensure smooth transition */
  z-index: 10; /* Ensure the submenu appears above other elements */
}

nav ul li ul li a {
  @apply block px-4 py-2 text-sm hover:bg-primary-dark hover:text-white;
  width: 100%; /* Ensure hover covers the entire submenu width */
}


nav ul li ul li {
  @apply border-b border-secondary-light last:border-none; /* Consistent border styling */
}

nav ul li button {
  @apply px-4 py-2 text-sm rounded transition-colors duration-300;
}

nav ul {
  @apply flex space-x-4;
}


nav ul li ul li:first-child a {
  @apply border-none; /* Ensure the first item in the submenu is aligned correctly */
}


